body {
  background: no-repeat url("../img/bg-img.jpg");
  background-size: cover;
  background-color: #4b0082;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

textarea {
  white-space: pre;
}
